<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/transform"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="网易大神积分自动拦截"
        android:theme="@style/Theme.AppCompat">
        
        <!-- 告诉系统这是一个 Xposed 模块 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        
        <!-- 模块在管理器中显示的描述 -->
        <meta-data
            android:name="xposeddescription"
            android:value="自动拦截并解密网易大神梦幻积分参数，实时同步到本地" />
        
        <!-- 支持的最低 Xposed API 版本 -->
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>